# APP

RESEND_API_KEY=
NEXT_VERCEL_DOMAIN=
NEXT_SUPPORT_EMAIL=
NEXT_NO_REPLY_EMAIL=
NEXT_PUBLIC_FIVERR_AFFILIATE_URL=

# PODIO

NEXT_PUBLIC_PODIO_WEB_FORM=
NEXT_PUBLIC_PODIO_JOB_APPLICATION_WEB_FORM=
NEXT_PODIO_API_REFRESH_TOKEN=
NEXT_PODIO_JOBLISTING_APP_ID=
NEXT_PODIO_JOBLISTING_APP_TOKEN=
NEXT_PODIO_AVS_CLIENT_ID=
NEXT_PODIO_AVS_CLIENT_SECRET=


# AUTH0

AUTH0_SECRET=
AUTH0_BASE_URL=
AUTH0_ISSUER_BASE_URL=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

# Calendly

NEXT_PUBLIC_CALENDLY_LINK=